<script type="x/template" data-component="basket-list">
    <div>
        <div>
            <div v-if="!basketItems.length > 0">
                <div class="h5 py-3">{{ trans("Ceres::Template.basketNoItems") }}</div>
            </div>
            <transition-group name="list-transition" tag="div">
                <template v-for="basketItem in basketItems">
                    <basket-list-item
                        :key="basketItem.id"
                        :basket-item="basketItem"
                        :is-preview="isPreview"
                        :basket-details-data="basketDetailsData"
                    >
                        <template #before-basket-item>
                            <slot name="before-basket-item"></slot>
                        </template>
                        <template #after-basket-item>
                            <slot name="after-basket-item"></slot>
                        </template>
                    </basket-list-item>
                </template>
            </transition-group>
            <!-- START: CheckoutGoodie Plugin -->
            <div class="checkout-goodie-container"{% if hidden %} style="display: none;"{% endif %}>
            {% if tierList[2].grossValue and tierList[1].grossValue %}
                <div v-if="($store.state.basket.data.itemSum + ($store.state.basket.data.couponCampaignType === 'promotion' ? $store.state.basket.data.couponDiscount : 0)) >= {{ tierList[2].grossValue }}">
                    {% include "CheckoutGoodie::content.Components.Partials.GoodieItem" with { 'variations': tierList[2].variations } %}
                </div>
                <div v-else-if="($store.state.basket.data.itemSum + ($store.state.basket.data.couponCampaignType === 'promotion' ? $store.state.basket.data.couponDiscount : 0)) >= {{ tierList[1].grossValue }}">
                    {% include "CheckoutGoodie::content.Components.Partials.GoodieItem" with { 'variations': tierList[1].variations } %}
                </div>
                <div v-else-if="($store.state.basket.data.itemSum + ($store.state.basket.data.couponCampaignType === 'promotion' ? $store.state.basket.data.couponDiscount : 0)) >= {{ tierList[0].grossValue }}">
                    {% include "CheckoutGoodie::content.Components.Partials.GoodieItem" with { 'variations': tierList[0].variations } %}
                </div>
            {% elseif not tierList[2].grossValue and tierList[1].grossValue %}
                <div v-if="($store.state.basket.data.itemSum + ($store.state.basket.data.couponCampaignType === 'promotion' ? $store.state.basket.data.couponDiscount : 0)) >= {{ tierList[1].grossValue }}">
                    {% include "CheckoutGoodie::content.Components.Partials.GoodieItem" with { 'variations': tierList[1].variations } %}
                </div>
                <div v-else-if="($store.state.basket.data.itemSum + ($store.state.basket.data.couponCampaignType === 'promotion' ? $store.state.basket.data.couponDiscount : 0)) >= {{ tierList[0].grossValue }}">
                    {% include "CheckoutGoodie::content.Components.Partials.GoodieItem" with { 'variations': tierList[0].variations } %}
                </div>
            {% else %}
                <div v-if="($store.state.basket.data.itemSum + ($store.state.basket.data.couponCampaignType === 'promotion' ? $store.state.basket.data.couponDiscount : 0)) >= {{ tierList[0].grossValue }}">
                    {% include "CheckoutGoodie::content.Components.Partials.GoodieItem" with { 'variations': tierList[0].variations } %}
                </div>
            {% endif %}
            </div>
            <!-- END: CheckoutGoodie Plugin -->
        </div>
        <loading-animation v-if="!isBasketInitiallyLoaded" class="d-table w-100"></loading-animation>
    </div>
</script>